.container{
    height:250px;
    overflow-y: auto;
}

.propertiesContainer{
    display: flex;
    flex-direction: row;
    padding: 5px;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    margin-bottom: 10px

}
.textField{
    margin-right: 20px !important
}

.clearButton{
    height:30px !important;
    width:30px !important;
    padding: 0px !important;
    min-height: 10px !important;
    min-width: 10px !important
}