.container
{
     height:150px;
     padding: 10px;
     text-align: center;
     cursor: pointer;
}
.notSelectedService
{
    background-color:#F50057 !important;
}
.selectedService{
    background-color:#bdbdbd !important;
}
.title{
    color: #ffffff !important;
    padding:10px 0px 10px 0px;
    
}
.text{
    color: #FFEB3B !important;
    padding:10px 0px 0px 0px;
    
}
.icon{
    color: #ffffff !important;

}